        /* Common CSS  */
        
        body {
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
        }
        
        section {
            margin-bottom: 65px;
        }
        /* Navbar */
        
        .navbar {
            margin: 20px 35px;
        }
        
        .navbar-nav li {
            display: table-cell;
            position: relative;
        }
        
        .navbar-nav a {
            font-weight: bold;
            font-size: large;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.15em;
            display: inline-block;
            position: relative;
        }
        
        .navbar-nav a {
            color: black;
        }
        /* Navbar After Effect */
        
        .navbar-nav a:after {
            bottom: -1;
            content: "";
            display: block;
            height: 4px;
            left: 50%;
            position: absolute;
            background: #ffc91d;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        /* Navbar Hover Effect */
        
        .navbar-nav a:hover:after {
            width: 100%;
            left: 0;
        }
        /* Social Link Part */
        
        .social-link {
            list-style: none;
        }
        
        .social-item {
            margin: 0 10px;
        }
        
        .social-item a {
            text-decoration: none;
        }
        
        .fab {
            color: black;
            font-size: 20px;
        }
        /* Slider Section */
        
        .row {
            margin: 0;
        }
        
        .col-md-7,
        .col-md-5,
        .col-md-6 {
            padding: 0;
        }
        
        #hero .row .col-md-7 img {
            width: 100%;
            height: 640px;
        }
        
        .hero-text {
            margin: 35px;
        }
        
        #hero .row .col-md-5 img {
            width: 100%;
            height: 725px;
        }
        /* Skills Section */
        
        .card {
            text-align: center;
            border: none;
        }
        
        .card img {
            width: 45px;
        }
        /* About-Us Section */
        
        .about-img {
            position: relative;
        }
        
        .about-img img {
            width: 90%;
        }
        
        .experiance {
            padding: 10px 20px;
            background-color: #000;
            position: absolute;
            text-align: center;
            bottom: -45px;
            right: 135px;
        }
        
        .experiance h3 {
            color: #ffc91d;
        }
        
        .experiance p {
            color: #fff;
        }
        
        .about-text {
            margin: 0 345px 0 50px;
        }